<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand" href="#">FurnitureStore</a>
    <div class="nav navbar-nav mr-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Add a Product</a>
          </li>
        </ul>
    </div>
    <div class="nav navbar-nav ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/signIn">sign In</a>
        </li>
      </ul>
  </div>
  </nav>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div *ngFor="let item of showData;let i = index"  class="container row border">
      <div class="col-1"><img class="img-fluid" src="{{item.img}}" style="height: 50px;"/></div>
      <div class="col-3 text-center">{{item.title}}</div>
      <div class="col text-center">
        <button class="btn btn-danger btn-sm">-</button>
        <button class="btn btn-secondary btn-sm">{{item.num}}</button>
        <button class="btn btn-success btn-sm" (click)="increase(i)">+</button>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<br><br>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="container row border bg-dark text-light h-lg">
      <div class="col-6 text-center">Name</div>
      <div class="col-6 text-center">Quantity</div>
    </div>
    <div class="container row border" *ngFor="let x of item">
      <div class="col-6 text-center">{{x.ingName}}</div>
      <div class="col-6 text-center">{{x.qty}}</div>
    </div>
  </div>
  <div class="col-3">
    <!-- <img src={{editProd.im}}/> -->
  </div>
</div>


