<div *ngIf="page === true"  class="container">
  <button  class="btn btn-primary" (click)="home1()">Home</button><br/>
  <label>Question</label>
  <input type="text" class="form-control" [(ngModel)] = "qusetion" />

  <label>Option A</label>
  <input type="text" class="form-control" [(ngModel)] = "opt1" />

  <label>Option B</label>
  <input type="text" class="form-control" [(ngModel)] = "opt2" />

  <label>Option C</label>
  <input type="text" class="form-control" [(ngModel)] = "opt3" />

  <label>Option D</label>
  <input type="text" class="form-control" [(ngModel)] = "opt4" />

  <label>Correct Option</label>
  <input type="text" class="form-control" [(ngModel)] = "correctAnswer" />
  <button class="btn btn-primary" (click)="addData()">Submit</button>
</div>

<div *ngIf="editForm === true"  class="container">
  <button  class="btn btn-primary" (click)="home1()">Home</button><br/>
  <label>Question</label>
  <input type="text" class="form-control" [(ngModel)] = "qusetion" />

  <label>Option A</label>
  <input type="text" class="form-control" [(ngModel)] = "opt1" />

  <label>Option B</label>
  <input type="text" class="form-control" [(ngModel)] = "opt2" />

  <label>Option C</label>
  <input type="text" class="form-control" [(ngModel)] = "opt3" />

  <label>Option D</label>
  <input type="text" class="form-control" [(ngModel)] = "opt4" />

  <label>Correct Option</label>
  <input type="text" class="form-control" [(ngModel)] = "correctAnswer" />
  <button class="btn btn-primary" (click)="editData()">Edit</button>
</div>

<div *ngIf="homeCheck === true">
<app-root [store] = questionStore></app-root>
</div>
