<div class="container">

<div  *ngIf="questionshow == true"  class="container text-large">
  <div class="row">
    <div class="col-8">
        <h4>Question Number : {{num+1}}</h4>
        <div>{{currentQues.text}}</div>
          <div *ngFor="let opt of AnswerOpt let i = index" style="cursor: pointer;" (click)="answerCheck(i)">{{opt}}</div>

          <div *ngIf="currentQues.answered !== null" >
            <div *ngIf="optionChoosen == 'Correct Answer'" class="text-success">{{optionChoosen}}</div>
            <div *ngIf="optionChoosen == 'Wrong Answer'" class="text-danger">{{optionChoosen}}</div>
          </div>
          <div *ngIf="currentQues.answered == null" >{{currentanswer}}</div>

          <button *ngIf="num > 0"  class="btn btn-primary m-2" (click)="prev()">Previous question </button>
          <button *ngIf="num < quizStore.length - 1"  class="btn btn-primary m-2" (click)="next()">Next Question</button>
      </div>
    <div class="col-4 text-right">
      <button class="btn btn-primary" (click)="marks()">Marking Sheet</button>
    </div>
</div>
</div>
<div *ngIf="marksshow == true">
  <app-finalmarks [store] = store [sub] = subject></app-finalmarks>
</div>
</div>
