<div class="row border"  >
<div class="border text-center" *ngFor="let c of cellArray; let i = index" style="width: 50px; height: 50px; background-color:rgb(123, 219, 160); font-size: 30px;" (click)="generateValue(i)">
<div *ngIf="c.value === -1" ></div>
<div *ngIf="c.value === 1">X</div>
<div *ngIf="c.value === 0">0</div>
</div>
</div>
<button class="btn btn-primary my-2" (click)="resetingG()">{{game}}</button>
