<!-- <div *ngIf="check == false"  class="container">
  <h4 class="text-center">Choose the Assignment</h4>
  <div class="row bg-dark text-light">
    <div class="col-3">Subject</div>
    <div class="col-2">Assignment</div>
    <div class="col-6">Performance</div>
  </div>
  <div class="row border" *ngFor="let q of quizeType; let i = index" >
    <div class="col-3">{{q.sub}}</div>
    <div class="col-2">{{q.ass}}</div>
    <div *ngIf="q.performance == 'Not Done'" class="col-2">{{q.performance}}</div>
    <div *ngIf="q.performance !== 'Not Done'" class="col-2">{{q.performance}}/{{q.total}}</div>
    <div class="col-2"><button class="btn btn-primary" routerLink={{q.link}} routerLinkActive={{q.active}}>{{q.txt}}</button> </div>
    <div *ngIf="q.performance !== 'Not Done'" class="col-2"><button class=" btn btn-primary" (click)="checkingMarkes()">Check</button></div>
  </div>
</div> -->
<!-- <div *ngIf="check == true"> -->
  <!-- <app-finalmarks [store] = storing [sub] = sub ></app-finalmarks> -->
  <!----->
  <!-- <div *ngIf="page == true"  class="text-center">
    <button class="btn btn-primary m-4" (click)="add()">Add Question</button>
    <button class="btn btn-primary" (click)="show()">Question Bank</button>
  </div>
  <div *ngIf="addingQuestion == true">
    <app-addquestion></app-addquestion>
  </div>
  <div *ngIf="questionBank == true">
    <app-question-bank [questionStore] = store></app-question-bank>
  </div> -->

