<div *ngIf="page === true"   class="container">
  <button class="btn btn-primary" (click)="home1()">Home</button><br/>
  <div *ngIf="store.length === 0">No Questions has been added so far</div>
  <div *ngIf="store.length > 0">
    <div  class="row" *ngFor="let q of store; let i = index">
        <div class="col-4">Question {{i}} : {{q.ques}}</div>
        <div class="col-4">
          <button class="btn btn-warning m-2" (click)="edit(i)">Edit</button>
          <button class="btn btn-warning" (click)="remove(i)">Delete</button>
        </div>
        <div class="col-12">. A.{{q.option1}}</div>
        <div class="col-12">. B.{{q.option2}}</div>
        <div class="col-12">. C.{{q.option3}}</div>
        <div class="col-12">. D.{{q.option4}}</div>
        <div class="col-12">Answer :{{q.answer}}</div>
    </div>
  </div>
</div>
<div *ngIf="homeCheck === true">
  <app-root ></app-root>
  </div>
