<div *ngIf="home === false"  class="container">
  <!-- <button class="btn btn-primary text-right" (click)="calculate()">Marks</button> -->
  <!-- <div *ngIf="array.length > 0"> -->
    <!-- <div *ngIf="markshow == true" > -->
    <div class="row">
      <div class="col-1" *ngFor="let n of array; let i = index">
        <button *ngIf="n === ''" class="btn btn-warning text-dark" (click)="question()">{{i+1}}</button>
        <button *ngIf="n !== ''" class="btn btn-secondary text-light">{{i+1}}.{{n}}</button>
      </div>
    </div>

    <div class="text-center">
        <button class="btn btn-secondary" (click)="homePage()">Submit the Assignment</button>
    </div>

</div>
<div *ngIf="home === true">
  <app-home [storing] = store [sub] = subject></app-home>
</div>
<router-outlet></router-outlet>

