<div>
  <!--------------------------Nav------------------>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
      <a class="navbar-brand" href="#">FurnitureStore</a>
      <div class="nav navbar-nav mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/products">Products</a>
            </li>
          </ul>
      </div>
      <div class="nav navbar-nav ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/signIn">sign In</a>
          </li>
        </ul>
    </div>
    </nav>
  </div>
  <!----------------------------------------------->
</div>
<div>
  <router-outlet></router-outlet>
</div>
