<div *ngIf="page === true"  class="container">
  <button class="btn btn-primary m-1" (click)="questionFunc()">Question Bank</button>
  <button class="btn btn-primary m-1" (click)="createFunc()">Create Question Paper</button>
  <button class="btn btn-primary" (click)="showQues()">View Question Paper</button>
</div>
<!------------Questions in store-->
<div *ngIf="qusetionPage ===  true" class="container">
  <button class="btn btn-primary" (click)="homeFunc()">Home</button>
  <div class="row" *ngFor="let q of questions">
    <div class="col-8">Q{{q.id}}.{{q.qnText}}</div>
    <div class="col-8">* {{q.A}}</div>
    <div class="col-8">* {{q.B}}</div>
    <div class="col-8">* {{q.C}}</div>
    <div class="col-8">* {{q.D}}</div>
    <div class="col-8">* Answer. {{q.ans}}</div>
  </div>
</div>
<!-----Questions to be created-->
<div *ngIf="createQuestionPage == true" class="container">
  <label>Name of Ouestion Paper</label>
  <input type="text" class="form-control" [(ngModel)]= "quesPaperName" style="width: 400px;" /><br/>
  <button class="btn btn-primary m-2" (click)="homeFunc()">Home</button>
  <div *ngFor="let q of questionStructure">
    <input type="checkbox"
     id="q.id"
     name="NameCheckGroup"
     Value="q.selected"

     [(ngModel)]= "q.selected"
     (change)="emitChange()"/>
     {{q.qnText}}
  </div>
  <button class="btn btn-primary m-2" (click)="submitQues()">Submit</button>
</div>
<!-----------------------DropDown-->
<div *ngIf="quesSet == true" class="container">
  <button class="btn btn-primary m-2" (click)="homeFunc()">Home</button>
  <br/>
  <label>Select Question Paper :</label>
  <select class="form-control" [(ngModel)]= "selQuestion">
    <option value="null" selected> Choose the Question Paper...</option>
    <option *ngFor="let q of QuestionPapersArray" [ngValue]="q">{{q.name}}</option>
  </select>
  <div *ngIf="selQuestion !== null">
    <h4>Question Paper</h4>
    <h6>Name: {{selQuestion.name}}</h6>
    <div class="row" *ngFor="let q of selQuestion.questions; let i =index" >
      <div class="col-8">* Q{{i+1}}. {{q.qnText}}</div>
  </div>
</div>
