<div class="container">
  <div class="display-4 text-center">Computer Assignment : 3B</div>
  <div class="row">
    <div class="col-6 text-left">Time : 5 mins</div>
    <div class="col-6 text-right">Max Marks: 20</div>
  </div>
<div *ngIf="questionshow == true" class="container text-large">

  <div class="row">
    <div class="col-6">
        <h4>Question Number : {{num+1}}</h4>
        <div>{{currentQues.text}}</div>
          <div *ngFor="let opt of AnswerOpt let i = index" style="cursor: pointer;" (click)="answerCheck(i)">{{opt}}</div>
          Your answer : {{currentanswer}}<br/>
          <button *ngIf="num > 0"  class="btn btn-primary m-2" (click)="prev()">Previous question </button>
          <button *ngIf="num < quizStore.length -1"  class="btn btn-primary m-2" (click)="next()">Next Question</button>
      </div>
    <div class="col-6 text-right">
      <button class="btn btn-primary" (click)="marks()">View Marking Sheet</button>
    </div>
  </div>
</div>
  <div *ngIf="marksshow == true">
    <app-marking-sheet [store] = answerArray [subject] = subject></app-marking-sheet>
  </div>
</div>




