<div class="row"  >
  <div class="bg-primary border text-center rounded-sm" *ngFor="let c of cellArray; let i = index" style="width: 50px; height: 50px; font-size: 30px;" (click)="generateChar(i)">
  <div *ngIf="c.open === true && c.url === 'X'" class="bg-secodary border"><div class="bg-light text-light">{{c.url}} </div></div>
  <div *ngIf="c.open === true && c.url !== 'X'"><img  class="bg-light border" src={{c.url}}/></div>
  </div>
  </div>
  <button class="btn btn-primary my-2" (click)="resetingG()">New game</button>
