<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
      <a class="navbar-brand" href="#">FurnitureStore</a>
      <div class="nav navbar-nav mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/products">Products</a>
            </li>
          </ul>
      </div>
      <div class="nav navbar-nav ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/signIn">sign In</a>
          </li>
        </ul>
    </div>
    </nav>
  </div>

  <div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 text-center">
        <h3>Sign In</h3>
        <div class="row">
          <div class="col-2">Email:</div>
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="email"/>
          </div>
        </div><br>
        <div class="row">
          <div class="col-2">Password:</div>
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="password"/>
          </div>
        </div><br>
        <div class="text-center">
          <button class="btn btn-primary" (click)="signin()">Sign in</button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
