<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <div class="navbar navbar-menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item m-4">
          <a class="nav-link text-dark" href="#" style="font-weight: 500;">VIEW</a>
        </li>
        <li class="nav-item m-4">
          <a class="nav-link" href="#"><span class="fa fa-list" (click)="listView()"></span></a>
        </li>
        <li class="nav-item m-4">
          <a class="nav-link" href="#"><span class="fa fa-th" (click)="gridView()"></span></a>
        </li>
        <li class="nav-item m-4">
          <a class="nav-link" href="#"><span class="fa fa-desktop" (click)="gallaryView()"></span></a>
        </li>
      </ul>
    </div>
  </nav>


  <div *ngIf="gridPage == true"  class="row">
        <div class="col-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let c of cars; let i=index">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{c.image}}" alt="Card image cap" (click)="show(i)">
                  <div class="card-body">
                      <h5 class="card-title"><span class="fa fa-rupee"></span>{{c.price}}</h5>
                      <p class="card-text">{{c.year}} - {{c.miles}} km <br/>
                      {{c.make}} {{c.model}}, {{c.year}}, {{c.fuel}}</p>
                      <div class="row">
                          <div class="col-8">
                              <p class="card-text">{{c.location}}, {{c.city}}</p>
                          </div>
                          <div class="col-4">
                              <p class="card-text">{{c.postedOn}}</p>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
  </div>


  <div *ngIf="listPage == true" >
        <div class="row border" *ngFor="let c of cars ; let i=index">
            <div class="col-4 col-md-4 col-sm-4 col-xs-4" >
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{c.image}}" alt="Card image cap" (click)="show(i)"/>
                </div>
            </div>
            <div class="col-8" style="margin-top: 50px">
                  <div class="row">
                      <div class="col-8">
                          <h5><span class="fa fa-rupee"></span>{{c.price}}</h5>
                      </div>
                      <div class="col-4 text-right">
                            <span class="fa fa-share m-2"></span>
                            <span class="fa fa-heart"></span>
                      </div>
                  </div>
                  <p >{{c.year}} - {{c.miles}} km <br/>
                  {{c.make}} {{c.model}}, {{c.year}}, {{c.fuel}}</p>
                  <div class="row">
                        <div class="col-8">
                            <p class="card-text">{{c.location}}, {{c.city}}</p>
                        </div>
                        <div class="col-4 text-right">
                            <p class="card-text">{{c.postedOn}}</p>
                        </div>
                  </div>
             </div>
        </div>
      </div>


      <div *ngIf="gallaryPage == true" >
        <div  *ngFor="let c of cars; let i=index" class="border">

                <div class="text-center justify-content-center">
                  <img  src="{{c.image}}" alt="Card image cap" style="width: 500px;" (click)="show(i)"/>
                </div>

              <div class="row">
                  <div class="col-8">
                        <h5><span class="fa fa-rupee"></span>{{c.price}}</h5>
                  </div>
                  <div class="col-4 text-right">
                    <span class="fa fa-share m-2"></span>
                    <span class="fa fa-heart"></span>
                  </div>
              </div>
              <p >{{c.year}} - {{c.miles}} km <br/>
              {{c.make}} {{c.model}}, {{c.year}}, {{c.fuel}}</p>
              <div class="row">
                <div class="col-8">
                  <p class="card-text">{{c.location}}, {{c.city}}</p>
                </div>
                <div class="col-4 text-right">
                  <p class="card-text">{{c.postedOn}}</p>
                </div>
            </div>
          </div>
        </div>

        <div *ngIf="showPage == true" >


                  <div class="text-center justify-content-center">
                    <img  src="{{currentCar.image}}" alt="Card image cap" style="width: 500px;"/>
                  </div>

                <div class="row">
                    <div class="col-8">
                          <h5><span class="fa fa-rupee"></span>{{currentCar.price}}</h5>
                    </div>
                    <div class="col-4 text-right">
                      <span class="fa fa-share m-2"></span>
                      <span class="fa fa-heart"></span>
                    </div>
                </div>
                <p >{{currentCar.year}} - {{currentCar.miles}} km <br/>
                {{currentCar.make}} {{currentCar.model}}, {{currentCar.year}}, {{currentCar.fuel}}</p>
                <div class="row">
                  <div class="col-8">
                    <p class="card-text">{{currentCar.location}}, {{currentCar.city}}</p>
                  </div>
                  <div class="col-4 text-right">
                    <p class="card-text">{{currentCar.postedOn}}</p>
                  </div>
              </div>
        </div>


</div>
