<div *ngIf="proPage">
  <!--------------------------Nav------------------>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
      <a class="navbar-brand" href="#">FurnitureStore</a>
      <div class="nav navbar-nav mr-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/products">Products</a>
          </li>
          <li *ngIf="name == 'user'" class="nav-item">
            <a class="nav-link" href="#" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/product/add"
              >Add a new Product</a
            >
          </li>
        </ul>
      </div>
      <div class="nav navbar-nav ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/signIn">sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!----------------------------------------------->
  <div>
    <div class="row">
      <div class="col-2">
        <h6 class="border ml-2">Options</h6>
        <div
          *ngFor="let t of sel_type.name"
          class="border font-weight-light text-small ml-2"
        >
          <input
            type="radio"
            id="{{ t }}"
            value="{{ t }}"
            name="typeradio"
            checked="t===sel_type.selected"
            [(ngModel)]="sel_type.selected"
            (change)="selected_type()"
          />{{ t }}
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-6 mt-2" *ngFor="let p of produsctData; let i = index">
            <img
              class="img-fluid"
              src="{{ p.img }}"
              (click)="selected_furni(i)"
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="sel_furniture" style="margin-left: 25%; margin-top: 10px">
          <div>
            <button
              class="btn btn-secondary m-1"
              (click)="control_func('edit')"
            >
              Edit
            </button>
            <button class="btn btn-secondary">Delete</button>
          </div>
          <img
            class="img-fluid"
            src="{{ sel_furniture.img }}"
            style="width: 200px"
          />
          <h5>{{ sel_furniture.title }}</h5>
          <div *ngFor="let item of sel_furniture.desc">
            {{ item }}
          </div>
          <h6>items in product</h6>
          <div *ngFor="let item of sel_furniture.ingredients">
            - {{ item.ingName }} : {{ item.qty }}
          </div>
          <div *ngIf="name == 'user'">
            <button class="btn btn-success" (click)="cart_func()">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editPage">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="prodForm">

        <div class="row">
          <div class="col-2"><label>ProdCode:</label></div>
          <div class="col">
            <input type="text" class="form-control" formControlName="podCode" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-2"><label>Name:</label></div>
          <div class="col">
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-2"><label>Img url:</label></div>
          <div class="col">
            <input type="text" class="form-control" formControlName="img" />
          </div>
        </div><br>

        <div
          formArrayName="description"
          *ngFor="
            let item of prodForm.get('description')['controls'];
            let i = index"
        >
          <div [formGroupName]="i" class="row">
            <div class="col-2"><label>Description:</label></div>
            <div class="col">
              <input
                class="form-control"
                formControlName="desc"

              />
            </div>
          </div>
        </div>
      </form>
      <div
        class="row"
        *ngFor="let item of prodForm.get('description')['controls']"
      >
        <div class="col">{{ item.controls.desc.value }}</div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


<div *ngIf="addPage">

  <div class="row">
    <div class="col-6">
      <form [formGroup]="prodForm">
        <div class="row">
          <div class="col-2"></div>
          <div class="col">
            <label>ProdCode:</label><br>
            <input type="text" class="form-control" formControlName="podCode" />
          </div>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col">
            <label>Name:</label><br>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col">
            <label>Img url:</label><br>
            <input type="text" class="form-control" formControlName="img" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-2"></div>
          <div class="col">
          <button class="btn btn-secondary" (click)="add()">Add description</button>
        </div>
        </div><br>

        <div
            formArrayName="description"
            *ngFor="
            let item of prodForm.get('description')['controls'];
            let i = index">

          <div [formGroupName]="i" class="row">
            <div class="col-2"></div>
            <div class="col">
                <input
                  class="form-control"
                  formControlName="desc"
                  style="height: 40px;"
                />
            </div>
          </div>
        </div><br>
      </form>
      <div
        class="row"
        *ngFor="let item of prodForm.get('description')['controls']"
      >
        <div class="col">{{ item.controls.desc.value }}</div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
