<div class="container">
  <div class="border">
      <h4>{{post.heading}}</h4>
      <h6>Shared by : {{post.postedBy}}</h6>
      {{post.txt}}<br/>
      Likes : {{post.numOfLikes}}<button class="btn btn-primary btn-sm" (click)="addLikes(1)">Like</button> Shared : {{post.numOfShares}} <button class="btn btn-primary btn-sm" (click)="addShares(1)">Share</button>
  </div>
</div>
