<div>
  <div> {{check()}}
    <div class="my-4" *ngIf="ch">
    <h4>My Favourites</h4>
    <div class="row">
       <div class="col-1" *ngFor="let p of displayChoosenPic" ><img src="{{p}}" style="width: 40px; height: 40px;" (click)="remove()"/></div>
    </div>
    </div>
  </div>
</div>
