<div *ngIf="home === false"  class="container">

    <div class="row">
      <div class="col-1" *ngFor="let n of finalArray; let i = index">
        <button *ngIf="n === 'r'" class="btn btn-success text-light">{{i+1}}.{{n}}</button>
        <button *ngIf="n === 'w'" class="btn btn-danger text-light">{{i+1}}.{{n}}</button>
        <button *ngIf="n === 'n'" class="btn btn-warning text-light">{{i+1}}</button>
      </div>
    </div>

    <div class="text-center">
        <button class="btn btn-secondary" (click)="back()">Go to the List of Assignments</button>
    </div>

</div>
<div *ngIf="home === true" >
  <app-home [storing] = store [sub] = sub></app-home>
</div>
<router-outlet></router-outlet>

